body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    .infoBox{
        height: 10rem;        
        -webkit-column-count: 2;  /* Chrome, Safari, Opera */
        -moz-column-count: 2;     /* Firefox */
        column-count: 2;
        column-fill: auto;
        column-width: auto;
        column-gap: 12px;
        overflow: hidden;
        p{
            margin: 5px;
            padding-top: 2.5px;
            width: max-content;
            &:hover{
                color: black;
                background-color: white;
                cursor: pointer;
                padding-left: 2.5px;
                padding-right: 2.5px;
            }
        }
        .underline{
            text-decoration: underline;
        }
        .lg{
            font-size: 1.5em;
        }
    }
    
    .options{
        width: 100%;
        border-top: 1px solid white;
        display: flex;
        justify-content: center;
    }
}

.noPadding{
    padding: 0;
    padding-left: 10px;
    padding-bottom: 3px;
}

button{
    height: 35px;
    width: 80px;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
}