// Custom colors set by the user
$accentColor: #ffd700;

.accentColor{
    color: var(--accentColor, $accentColor);
    display: inline-block;
}

.accentColorAnimate {
    color: var(--accentColor, $accentColor);
    animation: move 2s ease-in-out infinite;
}

@keyframes move {
    0%, 100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(3px);
    }
}