<div class="centerCombat">

    <div class="elem5" #gameBox>
        <form [formGroup]="enemyForm">
            <div class="enemyBox" #enemyBoxes *ngFor="let enemy of combatService.enemyList; let i = index" (click)="selectEnemy(i, $event.target)">
                <label (click)="selectEnemy(i, $event.target)">{{enemy.name}}</label>
                <p (click)="selectEnemy(i, $event.target)">{{enemy.health}}</p>
                <img (click)="selectEnemy(i, $event.target)" #enemyIcons class="skull" src="../../../assets/images/general/skull.svg" alt="enemy skull">
                <input type="radio" [formControlName]="'enemySelected'" [value]="i" class="hidden">
                <mat-progress-bar class="enemyATB" mode="determinate" [value]="combatService.enemyATBValues[i]" color="accent"></mat-progress-bar>
            </div>
        </form>
    </div>

    <div class="elem2 storyText" #gameBox #story [ngClass]="{'showOverflow': intervalID === null}">
        <span>An enemy appeared!</span>
    </div>

    <div class="elem4" #gameBox>
        <div id="playerMainOptions" *ngIf="viewingMainOptions">
            <p *ngFor="let option of mainMenuOptions; let i = index" (click)="optionSelected(i+1)" [ngClass]="{'actionDisabled': combatService.player.ATB < 100 || intervalID === null || !playerCanSelectEnemy}" >{{(i+1) + '. ' + option}}</p>
            <p *ngIf="intervalID !== null" (click)="stopATB()" [ngClass]="{'actionDisabled': intervalID === null}">{{mainMenuOptions.length + 1 + '. Pause'}}</p>
            <p *ngIf="intervalID === null" (click)="startCombat()" [ngClass]="{'actionDisabled': intervalID !== null || enemyForm.controls.enemySelected.value === null}">{{mainMenuOptions.length + 1 + '. Resume'}}</p>
        </div>

        <div id="playerMagicOptions" *ngIf="viewingMagicOptions">
            <p *ngFor="let magic of combatService.player.magic; let i = index">{{(i+1) + '. ' + magic}}</p>
            <p (click)="menuBack('main')" >{{combatService.player.magic.length + 1 + '.'}} Back</p>
        </div>

        <div id="playerInventoryOptions" *ngIf="viewingInventoryOptions">
            <p *ngFor="let item of combatService.player.consumables; let i = index" [ngClass]="{'actionDisabled': combatService.player.consumables[i].amount === 0}" (click)="optionSelected(i+1)">{{(i+1) + '. ' + item['name'] + ' - ' + item['amount']}}</p>
            <p (click)="menuBack('main')">{{combatService.player.consumables.length + 1 + '.'}} Back</p>
        </div>

        <div class="playerBars">

            <section id="statusEffects">
                <span class="invisible" *ngIf="!combatService.player.effects.length">.</span>
                <span *ngFor="let effect of combatService.player.effects">{{effect.name}} - {{effect.duration}}</span>
            </section>

            <div>
                <progress id="playerATBGauge" max="100" [value]="combatService.player.ATB"></progress>
            </div>

            <div>
                <!-- [style] binds to a CSS variable which is how we're displaying the hp/mp values in a CSS counter pseudo element -->
                <progress #playerHealthBar [style.--healthValue]="combatService.player.health" id="playerHealthBar" max="100" [value]="100 * combatService.player.health / combatService.player.maxHealth"></progress>
                <progress [style.--manaValue]="combatService.player.mana" id="manaBar" max="100" [value]="100 * combatService.player.mana / combatService.player.maxMana"></progress>
            </div>

        </div>
         
    </div>
    
</div>