<div class="centerCombat">

    <div class="elem5 enemyArea" #gameBox>
        <form [formGroup]="enemyForm" class="enemyForm">
            <div class="enemyBox" #enemyBoxes *ngFor="let enemy of combatService.enemyList; let i = index" (click)="selectEnemy(i)">
                <label>{{enemy.name}}</label>
                <p>{{enemy.health}}</p>
                <img #enemyIcons class="skull" src="assets/images/general/skull.svg" alt="enemy skull">
                <input type="radio" [formControlName]="'enemySelected'" [value]="i" class="hidden">
                <mat-progress-bar class="enemyATB none" mode="determinate" [value]="combatService.enemyList[i].ATB" color="accent"></mat-progress-bar>
            </div>
        </form>
    </div>

    <div class="elem2 storyText" #gameBox #story [ngClass]="{'showOverflow': intervalID === null}">
        <span>An enemy appeared!</span>
    </div>

    <div class="elem4 playerOptions" #gameBox [ngClass]="{'showOverflow' : viewingInventoryOptions}">
        <div id="playerMainOptions" *ngIf="viewingMainOptions">
            <p *ngFor="let option of mainMenuOptions; let i = index" (click)="optionSelected(i+1)" [ngClass]="{'actionDisabled': combatService.party.members[memberIndex]?.ATB < 100 || intervalID === null || !playerCanSelectEnemy}" >{{(i+1) + '. ' + option}}</p>
            <p *ngIf="intervalID !== null" (click)="stopATB()" [ngClass]="{'actionDisabled': intervalID === null}">{{mainMenuOptions.length + 1 + '. Pause'}}</p>
            <p *ngIf="intervalID === null" (click)="startCombat()" [ngClass]="{'actionDisabled': intervalID !== null || enemyForm.controls.enemySelected.value === null}">{{mainMenuOptions.length + 1 + '. Resume'}}</p>
        </div>

        <div id="playerMagicOptions" *ngIf="viewingMagicOptions">
            <p *ngFor="let magic of combatService.party.members[memberIndex].magic; let i = index" [longPress]="1000" (longPressFinish)="openInfoWindow(combatService.party.members[memberIndex].magic[i])" [ngClass]="{'actionDisabled': (combatService.party.members[memberIndex].mana - combatService.party.members[memberIndex].magic[i].manaCost) < 0 || combatService.party.members[memberIndex]?.ATB < 100}" (click)="optionSelected(i+1)">{{(i+1) + '. ' + magic.name + ' - ' +  magic.manaCost}}</p>
            <p (click)="menuBack('main')" >{{combatService.party.members[memberIndex].magic.length + 1 + '.'}} Back</p>
            <p (click)="openHelpWindow(helpText_magic)">?</p>
        </div>

        <div id="playerInventoryOptions" *ngIf="viewingInventoryOptions">
            <p *ngFor="let item of combatService.party.consumables; let i = index"  type="button" [longPress]="1000" (longPressFinish)="openInfoWindow(combatService.party.consumables[i])" [ngClass]="{'actionDisabled': combatService.party.consumables[i].amount === 0 || combatService.party.members[memberIndex]?.ATB < 100}" (click)="optionSelected(i+1)">{{(i+1) + '. ' + item['name'] + ' - ' + item['amount']}}</p>
            <p (click)="menuBack('main')">{{combatService.party.consumables.length + 1 + '.'}} Back</p>
            <p (click)="openHelpWindow(helpText_inventory)">?</p>
        </div>        
    </div>
    
    <div class="playerBars">            
        <!-- <section id="statusEffects">
            <span *ngIf="!combatService.player.effects.length" class="statusEffect invisible"><img src="assets/images/statuses/water_drop.svg" alt=""></span>
            <span *ngFor="let effect of combatService.player.effects" [ngSwitch]="effect.name"> 
                <span *ngSwitchCase="'poison'" class="statusEffect greenFilter"><img src="assets/images/statuses/water_drop.svg" alt="Poison Icon"></span>
                <span *ngSwitchCase="'rage'" class="statusEffect redFilter"><img src="assets/images/statuses/rage.svg" alt="Rage Icon"></span>
                <span *ngSwitchCase="'strength'" class="statusEffect redFilter"><img src="assets/images/statuses/arrow_up.svg" alt="Attack Up Icon"></span>
                <span *ngSwitchCase="'speed'" class="statusEffect yellowFilter"><img src="assets/images/statuses/speed.svg" alt="Speed Icon"></span>
            </span>                
        </section> -->

        <form [formGroup]="partyForm" class="partyForm">
            <div class="memberBox" #memberBoxes *ngFor="let member of combatService.party.members; let i = index" (click)="selectPartyMember(i, $event.target)">
                <div class="innerBoxWrapper">
                    <div>
                        <label>{{member.name}}</label>
                        <p style="margin-top: 5px; color: crimson;">{{member.health}}</p>
                        <p style="color: orchid;">{{member.mana}}</p>
                    </div>
    
                    <div style="width: 100%;">
                        <!-- <mat-progress-bar class="enemyATB none" mode="determinate" [value]="member.ATB"></mat-progress-bar> -->
                        <progress class="enemyATB" max="100" [value]="member.ATB"></progress>
                        <input type="radio" [formControlName]="'memberSelected'" [value]="i" class="hidden">
                    </div>
                </div>
                
                <!-- <progress class="memberATBGauge" max="100" [value]="member.ATB"></progress> -->
            </div>
        </form>

    </div>

    <!-- <div class="playerBars">            
        <section id="statusEffects">
            <span *ngIf="!combatService.player.effects.length" class="statusEffect invisible"><img src="assets/images/statuses/water_drop.svg" alt=""></span>
            <span *ngFor="let effect of combatService.player.effects" [ngSwitch]="effect.name"> 
                <span *ngSwitchCase="'poison'" class="statusEffect greenFilter"><img src="assets/images/statuses/water_drop.svg" alt="Poison Icon"></span>
                <span *ngSwitchCase="'rage'" class="statusEffect redFilter"><img src="assets/images/statuses/rage.svg" alt="Rage Icon"></span>
                <span *ngSwitchCase="'strength'" class="statusEffect redFilter"><img src="assets/images/statuses/arrow_up.svg" alt="Attack Up Icon"></span>
                <span *ngSwitchCase="'speed'" class="statusEffect yellowFilter"><img src="assets/images/statuses/speed.svg" alt="Speed Icon"></span>
            </span>                
        </section>

        <div id="playerProgressDiv">
            <progress id="playerATBGauge" max="100" [value]="combatService.player.ATB"></progress>
        </div>

        <div>
            [style] binds to a CSS variable which is how we're displaying the hp/mp values in a CSS counter pseudo element
            <progress #playerHealthBar [style.--healthValue]="combatService.player.health" id="playerHealthBar" max="100" [value]="100 * combatService.player.health / combatService.player.maxHealth"></progress>
            <progress [style.--manaValue]="combatService.player.mana" id="manaBar" max="100" [value]="100 * combatService.player.mana / combatService.player.maxMana"></progress>
        </div>

    </div> -->
    
</div>