.centerCombat {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 35rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.centerCombat > div {
  border: 1px solid white;
  width: 95%;
  height: 95%;
}
.centerCombat > div:first-child {
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 8px;
  margin-bottom: -1px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.centerCombat > div:last-child {
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 8px;
  margin-top: -1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

button:disabled {
  background-color: gainsboro;
}
button:disabled:hover {
  color: #9f9f9f;
}

.actionDisabled {
  color: #9f9f9f !important;
}
.actionDisabled:hover {
  color: #9f9f9f !important;
  background-color: black !important;
  cursor: default !important;
}

.enemyArea {
  padding: 5px;
  margin-top: -1px;
}

.enemyBox {
  border: 1px solid white;
  min-height: 85px;
  max-height: 96px;
  width: 93px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.enemyBox p {
  padding-top: 0px;
  margin: 0 !important;
}
.enemyBox img {
  max-width: 2em;
  padding: 0;
  margin: 0;
}

.memberBox {
  border: 1px solid white;
  min-height: 85px;
  max-height: 93px;
  width: 30%;
  margin-bottom: 5px;
  margin-top: 5px;
}
.memberBox p {
  padding-top: 0px;
  margin: 0;
}

.partyOfOne {
  width: 90% !important;
}

.partyOfTwo {
  width: 45% !important;
}

.partyOfThree {
  width: 30% !important;
}

.innerBoxWrapper {
  max-height: 93px;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  text-align: center;
  justify-items: center;
}

.innerBoxWrapperEnemy {
  max-height: 96px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  justify-items: center;
}
.innerBoxWrapperEnemy div:last-child {
  align-self: flex-end;
}

.playerOptions {
  padding: 5px;
  margin-top: -1px;
  min-height: 7em;
}

.playerBars {
  padding: 5px;
  margin-top: -1px;
}

.playerOptions p {
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.playerOptions p:hover {
  color: white;
  background-color: black;
  cursor: auto;
}

@media (hover: hover) {
  .playerOptions p:hover {
    /* solves sticky problem */
    color: black;
    background-color: white;
    cursor: pointer;
  }
  .playerOptions p.noHighlight:hover {
    color: white;
    background-color: black;
    cursor: default;
  }
  .enemyForm div:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
  .enemyForm div:hover img {
    filter: invert(0%) sepia(0%) saturate(16%) hue-rotate(309deg) brightness(93%) contrast(107%);
  }
  .memberBox:hover {
    color: black;
    background-color: white;
    cursor: pointer;
  }
  .memberBox:hover label {
    border-bottom: 1px solid black;
    cursor: pointer;
  }
}
.enemyForm {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-evenly;
}

.partyForm {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  min-height: 6em;
}
.partyForm label {
  border-bottom: 1px solid white;
}

.storyText {
  font-size: 1.2em;
  overflow-y: hidden;
  margin: 0;
  max-height: 20%;
  width: 324px;
  padding: 5px;
  min-height: 6em;
}
.storyText span {
  display: inline-block;
  padding: 0;
  padding-right: 2.5px;
  padding-left: 2.5px;
  padding-bottom: 2.5px;
}

.showOverflow {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
}

.enemySelected {
  border: 5px solid white !important;
}

.memberSelected {
  border: 5px solid white !important;
}

progress {
  height: 10px;
  width: 100%;
  text-align: center;
}

progress.playerATB, progress.playerATB::-webkit-progress-value {
  border: 1px solid rgba(69, 69, 69, 0.764);
  background: #4caf50;
}

progress.enemyATB, progress.enemyATB::-webkit-progress-value {
  background: darkred;
  height: 3px;
}

.enemyATBDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
}

.statusEffects {
  display: flex;
  justify-content: space-evenly;
}
.statusEffects span {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.statusEffect {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  padding: 2px;
  color: white !important;
}

#playerInventoryOptions {
  height: 100%;
}

#playerMainOptions p, #playerMagicOptions p, #playerInventoryOptions p {
  width: -moz-max-content;
  width: max-content;
  padding-left: 5px;
}
#playerMainOptions p:first-of-type, #playerMagicOptions p:first-of-type, #playerInventoryOptions p:first-of-type {
  padding-top: 5px;
}

#selectingTargetText p {
  padding-left: 5px;
}
#selectingTargetText p:first-of-type {
  padding-top: 5px;
}

.skull {
  filter: invert(99%) sepia(1%) saturate(3395%) hue-rotate(270deg) brightness(113%) contrast(101%);
}/*# sourceMappingURL=combat-test.component.css.map */