.centerCombat{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 35rem;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    
    >div{
        border: 1px solid white;
        width: 95%;
        height: 95%;
        // margin: 4px;
        &:first-child{
            height: fit-content;
            margin-top: 8px;
            margin-bottom: -1px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
        }
        &:last-child{
            height: fit-content;
            margin-bottom: 8px;
            margin-top: -1px;
            border-bottom-left-radius: 12px;
            border-bottom-right-radius: 12px;
        }
    }
}

button{
    &:disabled{
        background-color: gainsboro;
        &:hover{
            color: #9f9f9f;
        }
    }
}

.actionDisabled{
    color: #9f9f9f !important;
    &:hover{
        color: #9f9f9f !important;
        background-color: black !important;
        cursor: default !important;
    }
}

.enemyArea{
    height: max-content !important;
    max-height: 28%;
    padding: 5px;
}

.enemyBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        padding-top: 0px;
        margin: 0;
    }
    img{
        max-width: 2em;
        padding: 5px;
    }
}

.memberBox {
    border: 1px solid white;
    height: 5em;
    width: 30%; //TODO: Dynamic width for 2 or 1 party member
    margin-bottom: 5px;
    margin-top: 5px;
    &:hover{
        label{ border-bottom: 1px solid black; cursor: pointer; }
        color: black;
        background-color: white;
        cursor: pointer;
    }
    
    p{
        padding-top: 0px;
        margin: 0;
    }
}

.innerBoxWrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}

// .playerOptions{
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
// }

// #playerProgressDiv{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

// .playerBars{
//     // width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     div:first-of-type{
//         width: 100%;
//     }
//     div:last-of-type{
//         progress{ 
//             width: 40vw;
//         }
//     }
// }

.playerOptions{
    padding: 5px;
    margin-top: -1px;
}

.playerBars{
    padding: 5px;
    margin-top: -1px;
}

.playerOptions p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
    
    &:hover{
        color: white;
        background-color: black;
        cursor: auto;
    }
}

@media (hover: hover) {
    .playerOptions p:hover {
    /* solves sticky problem */
    color: black;
    background-color: white;
    cursor: pointer;
    }
  }

.enemyForm{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    div{
        border: 1px solid white;
        height: 5em;
        width: 5em;
        margin-top: 5px;
        margin-bottom: 5px;

        &:hover{
            color: black;
            background-color: white;
            cursor: pointer;
            img{
                filter: invert(0%) sepia(0%) saturate(16%) hue-rotate(309deg) brightness(93%) contrast(107%);
            }
        }
    }
}

.partyForm {
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    label{ border-bottom: 1px solid white; }
}

.storyText{
    font-size: 1.2em;
    overflow-y: hidden;
    margin: 0;
    max-height: 20%;
    width: 324px;
    padding: 5px;
    span{
        // width: max-content;
        display: inline-block;
        padding: 0;
        padding-right: 2.5px;
        padding-left: 2.5px;
        padding-bottom: 2.5px;
    }
}

.showOverflow{
    overflow-y: scroll;
}

// width
::-webkit-scrollbar {
    width: 5px;
  }
  
 // track
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
 // handle
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  // handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.invisible{
    visibility: hidden;
}

.hidden{
    display: none;
}

mat-progress-bar{
    &.enemyATB{
        width: 100%;
        height: .5em;
        border-radius: 0;
        // display: none;
    }
}

.none{
    // display: none;
}

.enemySelected{
    border: 5px solid white !important;
}

.memberSelected{
    border: 5px solid white !important;
}

progress{
    height: 10px;
    width: 100%;
    // max-width: 20.2em;
    text-align: center;
}

#manaBar:after {
    counter-reset: variable var(--manaValue);
    content: counter(variable);
}

#playerHealthBar:after {
    counter-reset: variable var(--healthValue);
    content: counter(variable);
}

progress, progress::-webkit-progress-value {
    // background: rgb(89,159,201);
    background: #4caf50;
    border: 1px solid rgba(69, 69, 69, 0.764);
}

#manaBar::-webkit-progress-value{
    background: purple;
    display: block;
    float: right;
}

#playerHealthBar::-webkit-progress-value{
    background: crimson;
}

#manaBar{
    margin-left: 3px;
}

#playerHealthBar{
    margin-left: -3px;
}

#statusEffects{
    // width: 28px;
    display: flex;
    // justify-content: space-evenly;
    span{
        display: block;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
}

.statusEffect{
    img{
        width: 28px;
        height: 28px;
    }
}

#playerInventoryOptions{
    height: 100%;
}

#playerMainOptions, #playerMagicOptions, #playerInventoryOptions{
    p{
        width: max-content;
        padding-left: 5px;
        &:first-of-type{
            padding-top: 5px;
        }
    }
}

/*

.centerCombat{
    height: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
    gap: 5px;
    background-color: black;
    color: white;

    >div{
        border: 1px solid white;
        padding: 10px;
    }
    
    >p{
        border: 1px solid white;
        padding: 10px;
    }

    .elem4 { 
        height: 290px;
        padding-bottom: 25px;
        .playerBars{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 30px;
            div:first-of-type{
                width: 100%;
            }
            div:last-of-type{
                progress{ 
                    width: 40%;
                }
            }
        }
    }
    .elem5 { 
        margin: 0;
        padding: 0;
        min-height: 122px;
    }

    form{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
        // width: 100%;
        justify-content: space-evenly;
        div{
            border: 1px solid white;
            height: 5em;
            width: 5em;
            padding: 5px;
            margin: 10px;
            &:hover{
                color: black;
                background-color: white;
                cursor: pointer;
                img{
                    filter: invert(0%) sepia(0%) saturate(16%) hue-rotate(309deg) brightness(93%) contrast(107%);
                }
            }
        }
    }
}

button{
    &:disabled{
        background-color: gainsboro;
        &:hover{
            color: #9f9f9f;
        }
    }
}

.menuOptions{
    font-size: 1.2em;
    height: 10em;
    display: flex;
    flex-direction: row;
    border-top: 1px solid white;
    // button{
    //     border-right: 0;
    //     border-bottom: 0;
    //     &:first-child{
    //         border-left: 0;
    //     }
    // }
}

.health{
    background-color: crimson;
    color: white;
}

// .mana{
    // background-color: purple;
    // color: white;
// }

.storyText{
    font-size: 1.2em;
    // overflow-y: scroll;
    overflow-y: hidden;
    margin: 0;
    height: 5em;
    width: 324px;
}

.showOverflow{
    overflow-y: scroll;
}

// width
::-webkit-scrollbar {
    width: 5px;
  }
  
 // track
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
 // handle
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  // handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.enemySelected{
    border: 5px solid white !important;
}

.skull{
    filter: invert(99%) sepia(1%) saturate(3395%) hue-rotate(270deg) brightness(113%) contrast(101%);
}

#statusEffects{
    // width: 28px;
    display: flex;
    // justify-content: space-evenly;
    span{
        display: block;
        margin: 0;
        padding: 0;
        font-size: 14px;
    }
}

.invisible{
    visibility: hidden;
}

mat-progress-bar{
    &.enemyATB{
        width: 100%;
        height: 1em;
        border-radius: 0;
        // display: none;
    }
}

meter, progress{
    min-width: 10em;
}

meter{
    max-width: 15em;
    height: 2em;
    margin-bottom: -8px;
    margin-top: -8px;
}

progress{
    height: 10px;
    width: 100%;
    max-width: 20em;
    text-align: center;
}

#manaBar:after {
    counter-reset: variable var(--manaValue);
    content: counter(variable);
}

#playerHealthBar:after {
    counter-reset: variable var(--healthValue);
    content: counter(variable);
}

progress, progress::-webkit-progress-value {
    background: rgb(89,159,201);
    border: 1px solid rgba(69, 69, 69, 0.764);
}

#manaBar::-webkit-progress-value{
    background: purple;
    display: block;
    float: right;
}

#playerHealthBar::-webkit-progress-value{
    background: crimson;
}

#manaBar{
    margin-left: 3px;
}

#playerHealthBar{
    margin-left: -3px;
}


.hidden{
    display: none;
}

.elem4 p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    margin-bottom: 10px;
    // width: max-content;
    
    &:hover{
        color: black;
        background-color: white;
        cursor: pointer;
    }
}

#playerMainOptions, #playerMagicOptions, #playerInventoryOptions{
    height: 90%;
}

.actionDisabled{
    color: #9f9f9f;
    &:hover{
        color: #9f9f9f;
        background-color: black;
        cursor: default;
    }
}

.inventoryList{
    display: flex;
    p:first-child::after{
        content: (' -');
    }
    p:last-child::before{
        content: ('- ');
    }
}

.enemyBox{  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    p{
        padding-top: 5px;
        margin: 0;
    }
    img{
        max-width: 2em;
        padding: 5px;
    }
}


.statusEffect{
    img{
        width: 28px;
        height: 28px;
    }
}

*/

.skull{
    filter: invert(99%) sepia(1%) saturate(3395%) hue-rotate(270deg) brightness(113%) contrast(101%);
}

/* Toggle styles for different events */

.enemyHit{ color: crimson !important; }
.enemyHitBorder{ border: 5px solid darkred !important; }
.playerHit{ border: 1px solid crimson !important; }
.purpleBorder{ border: 1px solid rebeccapurple !important; }
.yellowBorder{ border: 1px solid gold !important; }
.greenBorder{ border: 1px solid green !important; }

.greenText{ color: green !important; }
.redText{ color: darkred !important; }
.greyText{ color: #9f9f9f !important; }
.orchidText{ color: orchid !important; }
.lightBlueText{ color: skyblue !important; }
.playerText{ color: #4caf50 !important; }
.crimsonText{ color: crimson !important; }
.underline{ text-decoration: underline !important; }

.playerHealthBarPoison::-webkit-progress-value{ background: green !important; }

.enemyHitSVG{ filter: invert(16%) sepia(94%) saturate(4548%) hue-rotate(341deg) brightness(88%) contrast(95%) !important; } //DarkRed/Crimson
.whiteFilter { filter: invert(99%) sepia(1%) saturate(3395%) hue-rotate(270deg) brightness(113%) contrast(101%) !important; } //White
.greenFilter{ filter: invert(42%) sepia(29%) saturate(1040%) hue-rotate(84deg) brightness(85%) contrast(96%) !important; } //Green
.redFilter{ filter: invert(16%) sepia(67%) saturate(7163%) hue-rotate(357deg) brightness(101%) contrast(115%) !important; } //Red
.yellowFilter { filter: invert(82%) sepia(73%) saturate(1004%) hue-rotate(9deg) brightness(105%) contrast(104%) !important; } //Yellow
.lightBlueFilter { filter: invert(74%) sepia(42%) saturate(361%) hue-rotate(155deg) brightness(99%) contrast(86%) !important; } //SkyBlue