<app-combat-test *ngIf="combatService.combatActive"></app-combat-test>

<main *ngIf="!combatService.combatActive">
    <div class="storyText" #gameBox #story *ngIf="viewingMain.isActive">
    </div>

    <div class="playerOptions" #gameBox *ngIf="viewingMain.isActive">
        <div id="playerMainOptions">
            <!-- <p *ngFor="let option of mainMenuOptions; let i = index" (click)="optionSelected(i+1)" [ngClass]="{'actionDisabled': combatService.party.members[memberIndex]?.ATB < 100 || intervalID === null}" >{{(i+1) + '. ' + option}}</p>
            <p *ngIf="intervalID !== null" (click)="stopATB()" [ngClass]="{'actionDisabled': intervalID === null}">{{mainMenuOptions.length + 1 + '. Pause'}}</p>
            <p *ngIf="intervalID === null" (click)="startCombat()" [ngClass]="{'actionDisabled': intervalID !== null || enemyForm.controls.enemySelected.value === null}">{{mainMenuOptions.length + 1 + '. Resume'}}</p> -->
        </div>
    </div>
    
<!--Inventory Menu----------------------------------------------------------------------------------------------------------------------------------->
    <div class="inventoryDiv inventoryDivTop" *ngIf="viewingInventory.isActive">
        <div class="headerDiv">
            <p *ngIf="viewingConsumables">Inventory - Consumables</p>
            <p *ngIf="!viewingConsumables">Inventory - Equipment</p>
            <p *ngIf="!viewingConsumables" class="displaySwap" (click)="inventoryDisplaySwap()">View Consumables</p>
            <p *ngIf="viewingConsumables" class="displaySwap" (click)="inventoryDisplaySwap()">View Equipment</p>
        </div>

        <p class="indent detailsPlaceholder" *ngIf="!selectedItem">Select an item to view it's details</p>
        
        <div class="overflowAuto infoDiv">
            <p class="header">{{selectedItem?.name}}</p>
            <section *ngIf="selectedItem && !viewingConsumables" class="overflowAuto display">
                <p class="indent" *ngIf="selectedItem?.description">Description: &nbsp;{{selectedItem?.description}}</p>
                <p class="indent" *ngIf="selectedItem?.accuracy">Accuracy: &nbsp;{{selectedItem?.accuracy}}</p>
                <p class="indent" *ngIf="selectedItem?.crit">Crit: &nbsp;{{selectedItem?.crit}}</p>
                <div *ngIf="selectedItem?.damageResistances.length > 0">
                    <p class="indent">Damage Resistances:</p>
                    <p class="indent2x" *ngFor="let DR of selectedItem?.damageResistances | capitalSplit: 'resistance'">{{'- ' + DR.name + DR.value}}</p> 
                </div>
                <div *ngIf="selectedItem?.damageTypes.length > 0">
                    <p class="indent">Damage Types:</p>
                    <p class="indent2x" *ngFor="let DT of selectedItem?.damageTypes | capitalSplit: 'percent'">{{'- ' + DT.name + DT.value}}</p>
                </div>
                <p class="indent" *ngIf="selectedItem?.defense">Defense: &nbsp;{{selectedItem?.defense}}</p>
                <p class="indent" *ngIf="selectedItem?.evasion">Evasion: &nbsp;{{selectedItem?.evasion}}</p>
                <p class="indent" *ngIf="selectedItem?.luck">Luck: &nbsp;{{selectedItem?.luck}}</p>
                <p class="indent" *ngIf="selectedItem?.speed">Speed: &nbsp;{{selectedItem?.speed}}</p>
                <div *ngIf="selectedItem?.statusEffectResistances.length > 0">
                    <p class="indent">Status Resistances: </p>
                    <p class="indent2x" *ngFor="let SR of selectedItem?.statusEffectResistances | capitalSplit: 'resistance'">{{'- ' + SR.name + SR.value}}</p>
                </div>
                <p class="indent" *ngIf="selectedItem?.strength">Strength: &nbsp;{{selectedItem?.strength}}</p>
                <p class="indent" *ngIf="selectedItem?.invelligence">Intelligence: &nbsp;{{selectedItem?.invelligence}}</p>
            </section>
            <section *ngIf="selectedItem && viewingConsumables" class="overflowAuto display">
                <p class="indent">Number held: &nbsp;{{selectedItem?.amount}}</p>
                <p class="indent">Can Target Enemies: &nbsp;{{selectedItem?.canTargetEnemies}}</p>
                <div *ngIf="selectedItem?.effects.length > 0">
                    <p class="indent">Effects: </p>
                    <p class="indent2x" *ngFor="let effect of selectedItem?.effects">{{'- ' + effect.helpDescription}}</p>
                </div>
                <div *ngIf="selectedItem?.spell">
                    <p class="indent">Casts <span [class]="selectedItem.spell.textColor">{{selectedItem.spell.name}}</span> on selected target</p>
                </div>
            </section>
        </div>
    </div>

    <div class="inventoryDiv overflowAuto" *ngIf="viewingInventory.isActive && !viewingConsumables">
        <p class="header">Bracers:</p>
        <section class="item"> <div class="indent"(click)="viewItemDetails(item)" *ngFor="let item of combatService.party.inventory | equipmentFilter: 'Bracer'; let i = index">{{i+1 + '. ' + item.name}} <span *ngIf="selectedPartyMember && item?.equippedBy?.name === selectedPartyMember.name"><img class="equipped" src="assets/images/general/equipped.svg" alt=""></span> </div></section>
        
        <p class="header">Helms:</p>
        <section class="item"> <div class="indent"(click)="viewItemDetails(item)" *ngFor="let item of combatService.party.inventory | equipmentFilter: 'Helm'; let i = index">{{i+1 + '. ' + item.name}} <span *ngIf="selectedPartyMember && item?.equippedBy?.name === selectedPartyMember.name"><img class="equipped" src="assets/images/general/equipped.svg" alt=""></span> </div></section>
        
        <p class="header">Chestplates:</p>
        <section class="item"> <div class="indent"(click)="viewItemDetails(item)" *ngFor="let item of combatService.party.inventory | equipmentFilter: 'Chestplate'; let i = index">{{i+1 + '. ' + item.name}} <span *ngIf="selectedPartyMember && item?.equippedBy?.name === selectedPartyMember.name"><img class="equipped" src="assets/images/general/equipped.svg" alt=""></span> </div></section>
        
        <p class="header">Pants:</p>
        <section class="item"> <div class="indent"(click)="viewItemDetails(item)" *ngFor="let item of combatService.party.inventory | equipmentFilter: 'Pants'; let i = index">{{i+1 + '. ' + item.name}} <span *ngIf="selectedPartyMember && item?.equippedBy?.name === selectedPartyMember.name"><img class="equipped" src="assets/images/general/equipped.svg" alt=""></span> </div></section>
        
        <p class="header">Greaves:</p>
        <section class="item"> <div class="indent"(click)="viewItemDetails(item)" *ngFor="let item of combatService.party.inventory | equipmentFilter: 'Greaves'; let i = index">{{i+1 + '. ' + item.name}} <span *ngIf="selectedPartyMember && item?.equippedBy?.name === selectedPartyMember.name"><img class="equipped" src="assets/images/general/equipped.svg" alt=""></span> </div></section>
        
        <p class="header">Weapons:</p>
        <section class="item"> <div (click)="viewItemDetails(item)" *ngFor="let item of combatService.party.inventory | equipmentFilter: 'Weapon'; let i = index">{{i+1 + '. ' + item.name}} <span *ngIf="selectedPartyMember && item?.equippedBy?.name === selectedPartyMember.name"><img class="equipped" src="assets/images/general/equipped.svg" alt=""></span> </div></section>
        
        <p class="header">Trinkets:</p>
        <section class="item"> <div class="indent"(click)="viewItemDetails(item)" *ngFor="let item of combatService.party.inventory | equipmentFilter: 'Trinket'; let i = index">{{i+1 + '. ' + item.name}} <span *ngIf="selectedPartyMember && item?.equippedBy?.name === selectedPartyMember.name"><img class="equipped" src="assets/images/general/equipped.svg" alt=""></span> </div></section>
    </div>
    
    <div class="inventoryDiv overflowAuto" *ngIf="viewingInventory.isActive && viewingConsumables">
        <p class="header">Potions:</p>
        <section class="item"> <div (click)="viewItemDetails(item)" *ngFor="let item of combatService.party.consumables | consumableFilter: 'Potion'; let i = index">{{i+1 + '. ' + item.name}}</div> </section>

        <p class="header">Scrolls:</p>
        <section class="item"> <div (click)="viewItemDetails(item)" *ngFor="let item of combatService.party.consumables | consumableFilter: 'Scroll'; let i = index">{{i+1 + '. ' + item.name}}</div> </section>
    </div>
    
<!--Equipment Menu----------------------------------------------------------------------------------------------------------------------------------->
    <div class="equipmentDivTop overflowAuto" *ngIf="viewingEquipment.isActive">
        <div class="headerDiv">
            <p>Equipment <span *ngIf="selectedPartyMember">{{ '- ' + selectedPartyMember.name}}</span></p>
            <p class="displaySwap" *ngIf="!viewEquipped" (click)="toggleViewEquipped()">Show Equipped</p>
            <p class="displaySwap" *ngIf="viewEquipped" (click)="toggleViewEquipped()">Hide Equipped</p>
        </div>

        <p class="indent detailsPlaceholder" *ngIf="!selectedPartyMember">Select a party member</p>

        <div class="overflowAuto equipmentDetails" *ngIf="selectedPartyMember">            
            <p>{{'Strength - '     + selectedPartyMember.calcTotalStatValue('strength',     null, combatService.party.inventory)}} <span *ngIf="selectedItem" #strRef>{{calcStatDifferences('strength',     strRef)}} </span> </p>
            <p>{{'Intelligence - ' + selectedPartyMember.calcTotalStatValue('intelligence', null, combatService.party.inventory)}} <span *ngIf="selectedItem" #intRef>{{calcStatDifferences('intelligence', intRef)}} </span> </p>
            <p>{{'Defense - '      + selectedPartyMember.calcTotalStatValue('defense',      null, combatService.party.inventory)}} <span *ngIf="selectedItem" #defRef>{{calcStatDifferences('defense',      defRef)}} </span> </p>
            <p>{{'Speed - '        + selectedPartyMember.calcTotalStatValue('speed',        null, combatService.party.inventory)}} <span *ngIf="selectedItem" #spdRef>{{calcStatDifferences('speed',        spdRef)}} </span> </p>
            <p>{{'Evasion - '      + selectedPartyMember.calcTotalStatValue('evasion',      null, combatService.party.inventory)}} <span *ngIf="selectedItem" #evsRef>{{calcStatDifferences('evasion',      evsRef)}} </span> </p>
            <p>{{'Accuracy - '     + selectedPartyMember.calcTotalStatValue('accuracy',     null, combatService.party.inventory)}} <span *ngIf="selectedItem" #accRef>{{calcStatDifferences('accuracy',     accRef)}} </span> </p>
            <p>{{'Luck - '         + selectedPartyMember.calcTotalStatValue('luck',         null, combatService.party.inventory)}} <span *ngIf="selectedItem" #lckRef>{{calcStatDifferences('luck',         lckRef)}} </span> </p>
            <p>{{'Resistance - '   + selectedPartyMember.calcTotalStatValue('resistance',   null, combatService.party.inventory)}} <span *ngIf="selectedItem" #resRef>{{calcStatDifferences('resistance',   resRef)}} </span> </p>
            <p>{{'Crit - '         + selectedPartyMember.calcTotalStatValue('crit',         null, combatService.party.inventory)}} <span *ngIf="selectedItem" #crtRef>{{calcStatDifferences('crit',         crtRef)}} </span> </p>
            <p>{{'Attack - '       + selectedPartyMember.calcTotalStatValue('attack',       null, combatService.party.inventory)}} <span *ngIf="selectedItem" #atkRef>{{calcStatDifferences('attack',       atkRef)}} </span> </p>

            <div>
                <div *ngIf="!damageResistanceDisplay.length">
                    <p>Damage Resistances:</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('BludgeoningDamageResistance', null, combatService.party.inventory)" >{{'Bludgeoning Damage Resistance - ' + selectedPartyMember.calcTotalStatValue('BludgeoningDamageResistance', null, combatService.party.inventory)}}</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('PiercingDamageResistance',    null, combatService.party.inventory)" >{{'Piercing Damage Resistance - '    + selectedPartyMember.calcTotalStatValue('PiercingDamageResistance',    null, combatService.party.inventory)}}</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('SlashingDamageResistance',    null, combatService.party.inventory)" >{{'Slashing Damage Resistance - '    + selectedPartyMember.calcTotalStatValue('SlashingDamageResistance',    null, combatService.party.inventory)}}</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('FireDamageResistance',        null, combatService.party.inventory)" >{{'Fire Damage Resistance - '        + selectedPartyMember.calcTotalStatValue('FireDamageResistance',        null, combatService.party.inventory)}}</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('IceDamageResistance',         null, combatService.party.inventory)" >{{'Ice Damage Resistance - '         + selectedPartyMember.calcTotalStatValue('IceDamageResistance',         null, combatService.party.inventory)}}</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('PoisonDamageResistance',      null, combatService.party.inventory)" >{{'Poison Damage Resistance - '      + selectedPartyMember.calcTotalStatValue('PoisonDamageResistance',      null, combatService.party.inventory)}}</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('ShockDamageResistance',       null, combatService.party.inventory)" >{{'Shock Damage Resistance - '       + selectedPartyMember.calcTotalStatValue('ShockDamageResistance',       null, combatService.party.inventory)}}</p>
                </div>
                <div *ngIf="damageResistanceDisplay.length">
                    <p>Damage Resistances:</p>
                    <span *ngFor="let obj of damageResistanceDisplay">
                        <p class="indentOnly">
                            <span [ngClass]="{'statRemoved': obj?.statRemoved, 'statGained' : obj?.statGained}">
                                <span *ngIf="!obj?.equipped && !obj?.totalStat">{{obj.name + ' - ' + obj.item.resistance}}</span>
                                <span *ngIf="!obj?.equipped && obj?.totalStat">{{obj.name + ' - ' + obj.totalStat}}</span>
                                <span *ngIf="obj?.equipped">{{obj.name + ' - ' + obj?.equipped.resistance + '/ '}} <span [ngClass]="{'statUp' : obj?.statUp, 'statDown' : obj?.statDown}">{{obj.item.resistance}}</span></span>
                            </span>

                            <span *ngIf="obj?.statUp" [ngClass]="{'statUp': obj?.statUp}">&#9650;</span>
                            <span *ngIf="obj?.statDown" [ngClass]="{'statDown': obj?.statDown}">&#9660;</span>
                        </p>
                    </span>
                </div>
            </div>
            
            <div>
                <div *ngIf="!damageTypeDisplay.length">
                    <p>Damage Type(s):</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('BludgeoningDamage', null, combatService.party.inventory)" >{{'Bludgeoning Damage - ' + selectedPartyMember.calcTotalStatValue('BludgeoningDamage', null, combatService.party.inventory) + '%'}}  </p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('PiercingDamage',    null, combatService.party.inventory)" >{{'Piercing Damage - '    + selectedPartyMember.calcTotalStatValue('PiercingDamage',    null, combatService.party.inventory) + '%'}}  </p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('SlashingDamage',    null, combatService.party.inventory)" >{{'Slashing Damage - '    + selectedPartyMember.calcTotalStatValue('SlashingDamage',    null, combatService.party.inventory) + '%'}}  </p> 
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('FireDamage',        null, combatService.party.inventory)" >{{'Fire Damage - '        + selectedPartyMember.calcTotalStatValue('FireDamage',        null, combatService.party.inventory) + '%'}}  </p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('IceDamage',         null, combatService.party.inventory)" >{{'Ice Damage - '         + selectedPartyMember.calcTotalStatValue('IceDamage',         null, combatService.party.inventory) + '%'}}  </p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('PoisonDamage',      null, combatService.party.inventory)" >{{'Poison Damage - '      + selectedPartyMember.calcTotalStatValue('PoisonDamage',      null, combatService.party.inventory) + '%'}}  </p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('ShockDamage',       null, combatService.party.inventory)" >{{'Shock Damage - '       + selectedPartyMember.calcTotalStatValue('ShockDamage',       null, combatService.party.inventory) + '%'}}  </p>
                </div>
                <div *ngIf="damageTypeDisplay.length">
                    <p>Damage Type(s):</p>
                    <span *ngFor="let obj of damageTypeDisplay">
                        <p class="indentOnly">
                            <span [ngClass]="{'statRemoved': obj?.statRemoved, 'statGained' : obj?.statGained}">
                                <span *ngIf="!obj?.equipped">{{obj.name + ' - ' + obj.item.percent + '%'}}</span>
                                <span *ngIf="obj?.equipped">{{obj.name + ' - ' + obj?.equipped.percent + '% / '}} <span [ngClass]="{'statUp' : obj?.statUp, 'statDown' : obj?.statDown}">{{obj.item.percent + '%'}}</span></span>
                            </span>
                            
                            <span *ngIf="obj?.statUp" [ngClass]="{'statUp': obj?.statUp}">&#9650;</span>
                            <span *ngIf="obj?.statDown" [ngClass]="{'statDown': obj?.statDown}">&#9660;</span>
                        </p>
                    </span>
                </div>
            </div>

            <div>
                <div *ngIf="!statusResistanceDisplay.length">
                    <p>Status Resistances: </p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('BurnResistance',   null, combatService.party.inventory)" >{{'Burn Resistance - '     + selectedPartyMember.calcTotalStatValue('BurnResistance',   null, combatService.party.inventory)}}</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('PoisonResistance', null, combatService.party.inventory)" >{{'Poison Resistance - '   + selectedPartyMember.calcTotalStatValue('PoisonResistance', null, combatService.party.inventory)}}</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('FreezeResistance', null, combatService.party.inventory)" >{{'Freeze Resistance - '   + selectedPartyMember.calcTotalStatValue('FreezeResistance', null, combatService.party.inventory)}}</p>
                    <p class="indentOnly" *ngIf="selectedPartyMember.calcTotalStatValue('ShockResistance',  null, combatService.party.inventory)" >{{'Shock Resistance - '    + selectedPartyMember.calcTotalStatValue('ShockResistance',  null, combatService.party.inventory)}}</p>
                </div>
                <div *ngIf="statusResistanceDisplay.length">
                    <p>Status Resistances: </p>
                    <span *ngFor="let obj of statusResistanceDisplay">
                        <p class="indentOnly">
                            <span [ngClass]="{'statRemoved': obj?.statRemoved, 'statGained' : obj?.statGained}">
                                <!-- //TODO: Adding in the calcTotalStatValue here + the resistance only works if we don't have an item equipped-->
                                <!-- <span *ngIf="!obj?.equipped">{{obj.name + ' - ' + obj.item.resistance}}</span> -->
                                <span *ngIf="!obj?.equipped && !obj?.totalStat">{{obj.name + ' - ' + obj.item.resistance}}</span>
                                <span *ngIf="!obj?.equipped && obj?.totalStat">{{obj.name + ' - ' + obj.totalStat}}</span>
                                <span *ngIf="obj?.equipped">{{obj.name + ' - ' + obj?.equipped.resistance + '/ '}} <span [ngClass]="{'statUp' : obj?.statUp, 'statDown' : obj?.statDown}">{{obj.item.resistance}}</span></span>
                            </span>

                            <span *ngIf="obj?.statUp" [ngClass]="{'statUp': obj?.statUp}">&#9650;</span>
                            <span *ngIf="obj?.statDown" [ngClass]="{'statDown': obj?.statDown}">&#9660;</span>
                        </p>
                    </span>
                </div>
            </div>
        </div>

        <div class="equipmentOptions">
            <p (click)="changeItemCategory()">Change Category</p>
            <p [ngClass]="{'actionDisabled': !selectedItem}" (click)="cancelEquip()">Cancel</p>
            <p *ngIf="(selectedItem?.equippedBy?.name !== selectedPartyMember?.name)" [ngClass]="{'actionDisabled': (!selectedItem || !selectedPartyMember)}" (click)="equipItem()">Equip</p>
            <p *ngIf="(selectedItem?.equippedBy?.name === selectedPartyMember?.name)" [ngClass]="{'actionDisabled': (!selectedItem || !selectedPartyMember)}" (click)="equipItem()">Unequip</p>
        </div>
        
    </div>

    <div class="equipmentDiv overflowAuto" *ngIf="viewingEquipment.isActive">
        <div *ngIf="selectedPartyMember">
            <p class="header noBorder">{{itemCategoryDisplay}}:</p>
            <section class="item itemCategory" *ngIf="!viewEquipped">
                <div class="indent"(click)="viewItemDetails(item, true, $event.target)" *ngFor="let item of notEquippedItems | equipmentFilter: itemCategory; let i = index">
                    {{i+1 + '. ' + item.name}}
                    <span *ngIf="selectedPartyMember && item?.equippedBy?.name === selectedPartyMember.name"><img class="equipped" src="assets/images/general/equipped.svg" alt=""></span> 
                </div>
            </section>
            <section class="item itemCategory" *ngIf="viewEquipped">
                <div class="indent"(click)="viewItemDetails(item, true, $event.target)" *ngFor="let item of combatService.party.inventory | equipmentFilter: itemCategory; let i = index">
                    {{i+1 + '. ' + item.name}}
                    <span *ngIf="selectedPartyMember && item?.equippedBy?.name === selectedPartyMember.name"><img class="equipped" src="assets/images/general/equipped.svg" alt=""></span> 
                </div>
            </section>
        </div>
    </div>

<!--Stats Menu----------------------------------------------------------------------------------------------------------------------------------------->
    <div class="statsDivTop overflowAuto" *ngIf="viewingStats.isActive">
        Stats
    </div>

    <div class="statsDiv overflowAuto" *ngIf="viewingStats.isActive">
        Stats
    </div>

<!--Settings menu--------------------------------------------------------------------------------------------------------------------------------------->
    <div class="settingsDivTop overflowAuto" *ngIf="viewingSettings.isActive">
        Settings
    </div>

    <div class="settingsDiv overflowAuto" *ngIf="viewingSettings.isActive">
        Settings
    </div>
<!-------------------------------------------------------------------------------------------------------------------------------------------------------->


    <div class="gameOptions">
        <div #inventory (click)="switchView('inventory')">
            <p *ngIf="!viewingInventory.isActive">Inventory</p>
            <p *ngIf="viewingInventory.isActive">Back</p>
        </div>
        <div #equipment (click)="switchView('equipment')">
            <p *ngIf="!viewingEquipment.isActive">Equipment</p>
            <p *ngIf="viewingEquipment.isActive">Back</p>
        </div>
        <div #stats (click)="switchView('stats')">
            <p *ngIf="!viewingStats.isActive">Stats</p>
            <p *ngIf="viewingStats.isActive">Back</p>
        </div>
        <div #settings (click)="switchView('settings')">
            <p *ngIf="!viewingSettings.isActive">Settings</p>
            <p *ngIf="viewingSettings.isActive">Back</p>
        </div>
    </div>
    
    <div class="playerBars">
        <form [formGroup]="partyForm" class="partyForm">
            <div class="memberBox" #memberBoxes *ngFor="let member of combatService.party.members; let i = index" (click)="selectPartyMember(i)">
                <div class="innerBoxWrapper">
                    <div>
                        <label>{{member.name}}</label>
                        <p style="margin-top: 5px; color: crimson;">{{member.health}} / {{member.maxHealth}}</p>
                        <p style="color: orchid;">{{member.mana}} / {{member.maxMana}}</p>
                    </div>

                    <div class="statusEffects">
                    </div>
                    
                    <div style="width: 100%;">
                        <input type="radio" [formControlName]="'memberSelected'" [value]="i" class="hidden">
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>