body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .infoBox{
        height: 100%;
        overflow-y: scroll;
        font-size: 18px;
        .bold{
            font-weight: bold;
        }
    }
    
    .options{
        width: 100%;
        border-top: 1px solid white;
        display: flex;
        justify-content: center;
    }
}

p{
 padding: 10px;
 margin: 0;
}

ul{
    margin: 0;
    margin-bottom: 10px;
}

button{
    height: 35px;
    width: 80px;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 10px;
}