@import '~@angular/material/theming';
@include mat-core();

$primary-green: #00c853;
$primary-green-light: #5efc82;
$primary-green-dark: #009624;

$primary-purple: #ea80fc;
$primary-purple-light: #ffb2ff;
$primary-purple-dark: #b64fc8;

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$recipeBook2022-primary: mat-palette($mat-green);
$recipeBook2022-accent: mat-palette($mat-purple, A200, A100, A400);

// The warn palette is optional (defaults to red).
$recipeBook2022-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color1" or "typography".
$recipeBook2022-theme: mat-light-theme((
  color: (
    primary: $recipeBook2022-primary,
    accent: $recipeBook2022-accent,
    warn: $recipeBook2022-warn,
  )
));

@include angular-material-theme($recipeBook2022-theme);

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'calamity';
    src: url('assets/fonts/calamity.ttf');
  }

// html { background-color: rgb(235,213,179); }
html { background-color: black; }
*{ 
    font-family: 'calamity'; 

    // Disalows user selecting any text 'cause it doesn't look good
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

button{
    text-decoration: none;
    background-color: white;
    height: 50px;
    width: 125px;
    font-size: 2em;
    &:hover{
        border: 1px solid white;
        background-color: black;
        color: white;
        cursor: pointer;
    }
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.gameWindow{
    border: 1px solid black;
    height: 85vh;
    width: 40vw;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
}

.storyText{
    font-size: 18px;
    span{
      padding: 5px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-dialog-container .mat-dialog-container {
    padding: 0;
    border: 3px double white;
    // overflow: hidden;
    color: white;
}

.backdropBackground{
    // filter: blur(20px);
    background-color: black;
    opacity: 0.7 !important;
}

// width
::-webkit-scrollbar {
    width: 5px;
  }
  
 // track
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
 // handle
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  // handle on hover
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  /* Toggle styles for different events */
.enemyHit{ color: crimson !important; }
.enemyHitBorder{ border: 5px solid darkred !important; }
.playerHit{ border: 1px solid crimson !important; }
.purpleBorder{ border: 1px solid rebeccapurple !important; }
.yellowBorder{ border: 1px solid gold !important; }
.greenBorder{ border: 1px solid green !important; }

.greenText{ color: green !important; }
.redText{ color: darkred !important; }
.orangeText{ color: rgb(220, 51, 0) !important; }
.greyText{ color: #9f9f9f !important; }
.slateText{ color: slategray !important; }
.orchidText{ color: orchid !important; }
.lightBlueText{ color: skyblue !important; }
.playerText{ color: #4caf50 !important; }
.crimsonText{ color: crimson !important; }
.goldText{ color: gold !important; }
.pinkText{ color: rgb(247, 158, 173) };
.underline{ text-decoration: underline !important; }

.poisonStatus{background: rgb(0, 75, 0);}
.speedStatus, .strengthStatus{background: rgb(150, 110, 9);}
.freezeStatus{background: rgb(20, 20, 151);}
.rageStatus{background: rgb(138, 12, 38);} 
.burnStatus{background: rgb(220, 51, 0);}
.healthStatus { background: crimson; }
.manaStatus { background: orchid; }

.enemyHitSVG{ filter: invert(16%) sepia(94%) saturate(4548%) hue-rotate(341deg) brightness(88%) contrast(95%) !important; } //DarkRed/Crimson
.whiteFilter { filter: invert(99%) sepia(1%) saturate(3395%) hue-rotate(270deg) brightness(113%) contrast(101%) !important; } //White
.greenFilter{ filter: invert(42%) sepia(29%) saturate(1040%) hue-rotate(84deg) brightness(85%) contrast(96%) !important; } //Green
.redFilter{ filter: invert(16%) sepia(67%) saturate(7163%) hue-rotate(357deg) brightness(101%) contrast(115%) !important; } //Red
.yellowFilter { filter: invert(82%) sepia(73%) saturate(1004%) hue-rotate(9deg) brightness(105%) contrast(104%) !important; } //Yellow
.lightBlueFilter { filter: invert(74%) sepia(42%) saturate(361%) hue-rotate(155deg) brightness(99%) contrast(86%) !important; } //SkyBlue