<div class="center">

    <div class="gameWindow">

        <p class="storyText">
            •	Path of the Sacrifice - Villagers being sacrificed to an old evil to keep it at bay. One man decides to put a stop to the corrupt people doing the sacrifices and banish the old evil for good. Has a rounded stone cube necklace that is part of things somehow.
            Path of the Sacrifice - Villagers being sacrificed to an old evil to keep it at bay. One man decides to put a stop to the corrupt people doing the sacrifices and banish the old evil for good. Has a rounded stone cube necklace that is part of things somehow.
            Path of the Sacrifice - Villagers being sacrificed to an old evil to keep it at bay. One man decides to put a stop to the corrupt people doing the sacrifices and banish the old evil for good. Has a rounded stone cube necklace that is part of things somehow.
            Path of the Sacrifice - Villagers being sacrificed to an old evil to keep it at bay. One man decides to put a stop to the corrupt people doing the sacrifices and banish the old evil for good. Has a rounded stone cube necklace that is part of things somehow.
        </p>

        <div>
            Center Area
        </div>

        <div class="menuOptions">
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
            <div>Box</div>
        </div>

    </div>
    
    <button [routerLink]="['/']" >Back</button>
</div>